<ion-header>
  <ion-toolbar class="toolbar-principal">
    <ion-title>Agregar tema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="card-form">
    <ion-card-content>

      <ion-item>
        <ion-label position="stacked">Título</ion-label>
        <ion-input
          [(ngModel)]="titulo"
          placeholder="Ej: Mejor señuelo para truchas">
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-label position="stacked">Descripción</ion-label>
        <ion-input
          [(ngModel)]="descripcion"
          placeholder="Ej: detalle...">
        </ion-input>
      </ion-item>

      <div class="autor-box ion-margin-top">
        <span class="autor-label">Creado por:</span>
        <strong class="autor-value">{{ nombreUsuario }}</strong>
      </div>

      <ion-button
        expand="block"
        class="btn-guardar ion-margin-top"
        [disabled]="guardando"
        (click)="guardarTema()">
        {{ guardando ? 'Guardando...' : 'Guardar tema' }}
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
